SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8080
SERVER_CONTEXT_PATH=/zeemsv-api
DB_URL=jdbc:postgresql://postgres:5432/db_zeemsv
DB_USERNAME=postgres
DB_PASSWORD=postgres
IGRP_DB_URL=jdbc:postgresql://postgres:5432/zeemsv_igrp_db
IGRP_DB_USERNAME=postgres
IGRP_DB_PASSWORD=postgres
FLYWAY_ENABLED=false
JWT_SECRET=change-me
PESQUISA_CNI_ENABLED=true
PESQUISA_CNI_URL=https://gateway-pdex.gov.cv/t/sniac.gov/PesquisaCNI/1.0.0/pesquisa_cni
PESQUISA_CNI_AUTHORIZATION=
PESQUISA_NIF_ENABLED=true
PESQUISA_NIF_URL=https://gateway-pdex.gov.cv/consultanif/1.0.0/detalhesPessoaOp
PESQUISA_NIF_AUTHORIZATION=
PESQUISA_SIRC_ENABLED=true
PESQUISA_SIRC_URL=
PESQUISA_SIRC_AUTHORIZATION=
PESQUISA_SIRC_NIF_PARAM=NUM_NIF
