SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8080
SERVER_CONTEXT_PATH=/zeemsv-api
DB_URL=jdbc:postgresql://postgres:5432/db_zeemsv
DB_USERNAME=postgres
DB_PASSWORD=postgres
FLYWAY_ENABLED=false
JWT_SECRET=change-me
